<!DOCTYPE html>
<html>
  <head>
    <%- include('./head'); %>
  </head>

  <body>
    <header><%- include('./header'); %></header>

    <main>
      <div><%- include('./tabs'); %></div>

      <div class="container mt-4">
        <div class="row g-4 justify-content-center">
          <% if (isLoggedIn) { %>
          <div class="col-md-3">
            <div
              class="card card-hover text-center h-100 d-flex justify-content-center align-items-center"
            >
              <div class="card-body">
                <h5 class="card-title">Lis채채 uusi API</h5>
                <p class="card-text">Uuden rajapintatietue luonti.</p>
                <a href="/dashboard" class="btn btn-karelia">+ Lis채채</a>
              </div>
            </div>
          </div>
          <% } %> <% if (apis && apis.length > 0) { %> <% apis.forEach(api => {
          %>
          <div class="col-md-3">
            <div class="card card-hover text-center h-100">
              <img
                class="card-img-top mx-auto d-block mt-3"
                src="<%= api.image %>"
                style="width: 120px; height: 120px"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title"><%= api.name %></h5>
                <p class="card-text"><%= api.description %></p>
                <a
                  href="<%= api.link %>"
                  class="btn btn-karelia"
                  target="_blank"
                >
                  API specs
                </a>
              </div>
            </div>
          </div>
          <% }); %> <% } else { %>
          <p class="text-center">Ei API-tietoja saatavilla.</p>
          <% } %>
        </div>
      </div>
    </main>

    <div style="margin-top: 150px"></div>

    <footer><%- include('./footer'); %></footer>
  </body>
</html>
