<!DOCTYPE html>
<html>
  <head>
    <%- include('./head'); %>
  </head>

  <body>
    <header><%- include('./header'); %></header>
    <main>
      <div><%- include('./tabs'); %></div>
      <div class="container">
        <div
          class="row bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white align-items-center"
        >
          <p class="mb-3 h4">Welcome <%= user %></p>
          <p>Explore your API key and other features below.</p>
          <div id="api-key-container" class="mt-5 text-center">
            <label for="apiKey">API key:</label>

            <div class="d-flex justify-content-center align-items-center mt-2">
              <input
                type="password"
                id="apiKey"
                value="<%= apiKey %>"
                readonly
                class="form-control w-auto mx-2"
              />
              <button
                type="button"
                onclick="copyApiKey(this)"
                class="btn btn-success"
              >
                Copy
              </button>
            </div>
          </div>

          <script>
            const copyApiKey = (button) => {
              const apiKeyInput = document.getElementById("apiKey");
              const originalText = button.textContent;

              navigator.clipboard
                .writeText(apiKeyInput.value)
                .then(() => {
                  button.textContent = "Copied!";
                  button.disabled = true;

                  setTimeout(() => {
                    button.textContent = originalText;
                    button.disabled = false;
                  }, 3000);
                })
                .catch((err) => console.error("Copying failed", err));
            };
          </script>
        </div>
        <!-- Jumbotron -->
        <div class="row"></div>
      </div>
    </main>
    <footer><%- include('./footer'); %></footer>
  </body>
</html>
