<!DOCTYPE html>
<html>
  <head>
    <%- include('./head'); %>
  </head>

  <body>
    <header><%- include('./header'); %></header>
    <main>
      <div><%- include('./tabs'); %></div>

      <div class="container">
        <!-- API-key container -->
        <div
          class="row bg-image p-5 text-center shadow-1-strong rounded text-white align-items-center"
        >
          <p class="mb-3 h4">Welcome <%= user %></p>
          <p>Explore your API key and other features below.</p>
          <div id="api-key-container" class="mt-2 text-center">
            <label for="apiKey">API key:</label>

            <div class="d-flex justify-content-center align-items-center mt-2">
              <input
                type="password"
                id="apiKey"
                value="<%= apiKey %>"
                readonly
                class="form-control w-auto mx-2"
              />
              <button
                type="button"
                onclick="copyApiKey(this)"
                class="btn btn-success"
              >
                Copy
              </button>
            </div>
          </div>

          <script>
            const copyApiKey = (button) => {
              const apiKeyInput = document.getElementById("apiKey");
              const originalText = button.textContent;

              navigator.clipboard
                .writeText(apiKeyInput.value)
                .then(() => {
                  button.textContent = "Copied!";
                  button.disabled = true;

                  setTimeout(() => {
                    button.textContent = originalText;
                    button.disabled = false;
                  }, 3000);
                })
                .catch((err) => console.error("Copying failed", err));
            };
          </script>
        </div>

        <!-- Uusi kortti: Lisää uusi API -->
        <div class="row g-4 justify-content-center mt-1">
          <div class="col-md-3">
            <div
              class="card card-hover text-center h-100 d-flex justify-content-center align-items-center"
            >
              <div class="card-body">
                <h5 class="card-title">Lisää uusi APP</h5>
                <p class="card-text">Uuden apps,libs & repos luonti.</p>
                <button
                  type="button"
                  class="btn btn-karelia"
                  data-bs-toggle="modal"
                  data-bs-target="#addAppModal"
                >
                  + Lisää
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div
              class="card card-hover text-center h-100 d-flex justify-content-center align-items-center"
            >
              <div class="card-body">
                <h5 class="card-title">Lisää uusi API</h5>
                <p class="card-text">Uuden rajapintatietueen luonti.</p>
                <button
                  type="button"
                  class="btn btn-karelia"
                  data-bs-toggle="modal"
                  data-bs-target="#addApiModal"
                >
                  + Lisää
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modaalilomake -->
      <div
        class="modal fade"
        id="addApiModal"
        tabindex="-1"
        aria-labelledby="addApiModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content text-white" style="background-color: #111">
            <div class="modal-header border-0">
              <h5 class="modal-title" id="addApiModalLabel">Lisää uusi API</h5>
              <button
                type="button"
                class="btn-close btn-close-white"
                data-bs-dismiss="modal"
                aria-label="Sulje"
              ></button>
            </div>
            <form action="/dashboard/add" method="POST">
              <div class="modal-body">
                <div class="mb-3">
                  <label for="name" class="form-label">Nimi</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label">Kuvaus</label>
                  <textarea
                    class="form-control"
                    id="description"
                    name="description"
                    rows="3"
                    required
                  ></textarea>
                </div>
                <div class="mb-3">
                  <label for="link" class="form-label">Linkki</label>
                  <input
                    type="url"
                    class="form-control"
                    id="link"
                    name="link"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="image" class="form-label">Kuvan URL</label>
                  <input
                    type="text"
                    class="form-control"
                    id="image"
                    name="image"
                    required
                  />
                </div>
              </div>
              <div class="modal-footer border-0">
                <button type="submit" class="btn btn-karelia">Tallenna</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- modaalilomake/lisää uusi APP -->
      <div
        class="modal fade"
        id="addAppModal"
        tabindex="-1"
        aria-labelledby="addAppModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content text-white" style="background-color: #111">
            <div class="modal-header border-0">
              <h5 class="modal-title" id="addAppModalLabel">Lisää uusi APP</h5>
              <button
                type="button"
                class="btn-close btn-close-white"
                data-bs-dismiss="modal"
                aria-label="Sulje"
              ></button>
            </div>
            <form action="/dashboard/addApp" method="POST">
              <div class="modal-body">
                <!-- kentät APP:lle -->
                <div class="mb-3">
                  <label for="name" class="form-label">Nimi</label>
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label">Kuvaus</label>
                  <textarea
                    class="form-control"
                    name="description"
                    rows="3"
                    required
                  ></textarea>
                </div>
                <div class="mb-3">
                  <label for="link" class="form-label">Linkki</label>
                  <input type="url" class="form-control" name="link" required />
                </div>
                <div class="mb-3">
                  <label for="image" class="form-label">Kuvan URL</label>
                  <input
                    type="text"
                    class="form-control"
                    name="image"
                    required
                  />
                </div>
              </div>
              <div class="modal-footer border-0">
                <button type="submit" class="btn btn-karelia">Tallenna</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Taustasumennus -->
      <div id="blur-overlay"></div>
      <script>
        const addApiModal = document.getElementById("addApiModal");
        const blurOverlay = document.getElementById("blur-overlay");

        addApiModal.addEventListener("show.bs.modal", () => {
          blurOverlay.classList.add("active");
        });

        addApiModal.addEventListener("hide.bs.modal", () => {
          blurOverlay.classList.remove("active");
        });
      </script>
    </main>
    <div style="margin-top: 150px"></div>
    <footer><%- include('./footer'); %></footer>
  </body>
</html>
