<!-- Blur-efekti, joka näkyy taustalla kun kirjautumisikkuna avautuu -->
<div id="blur-overlay"></div>

<div class="d-flex justify-content-between align-items-center header-container">
  <!-- VASEN -->
  <div class="left-side">
    <span id="current-date" class="ms-2"></span>
  </div>

  <!-- KESKI -->
  <div class="center-logo text-center">
    <a href="/">
      <img
        src="../images/logo3.png"
        class="img-fluid logo-glow"
        alt="Karelia University of Applied Sciences"
      />
    </a>
  </div>

  <!-- OIKEA -->
  <div class="right-side text-end">
      <% if (isLoggedIn) { %>
    <a href="/logout" class="nav-link"><%= t('common:navLogout') %></a>
    <% } else { %>
    <a
      href="#"
      class="nav-link"
      data-bs-toggle="modal"
      data-bs-target="#loginModal"
      ><%= t('common:navLogin') %></a
    >
    <% } %>
    <div class="d-inline-flex gap-1 mt-1">
<a href="/change-language/fi" class="language-switch <%= lng === 'fi' ? 'active' : '' %>">FI</a>
<a href="/change-language/en" class="language-switch <%= lng === 'en' ? 'active' : '' %>">EN</a>


    </div>
  </div>
</div>

  <!-- Päiväyksen muodostaminen -->
  <script>
    const days = {
      fi: [
        "Sunnuntai",
        "Maanantai",
        "Tiistai",
        "Keskiviikko",
        "Torstai",
        "Perjantai",
        "Lauantai",
      ],
      en: [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
      ],
    };
    const lang = "<%= lng %>" || "fi";
    const now = new Date();
    const dayName = days[lang][now.getDay()];
    const date = now.getDate();
    const month = now.getMonth() + 1;
    const year = now.getFullYear();
    const formatted = `${dayName} ${date}.${month}.${year}`;
    document.getElementById("current-date").textContent = formatted;
  </script>
</div>
