<div id="blur-overlay"></div>
<!--Blur-efekti, joka näkyy taustalla kun kirjautumisikkuna avautuu-->
<div class="d-flex justify-content-between" style="margin: 50">
  <div class="lead">
    <a href="/"> <i class="fa fa-home"></i></a>
    <span id="current-date" class="ms-2"></span>
    <!--päiväys-->
  </div>
  <div class="text-center">
    <a href="/">
      <img
        src="../images/logo3.png"
        class="img-fluid logo-glow"
        alt="Karelia University of Applied Sciences"
      />
    </a>
  </div>
  <div class="text-end">
    <div class="lead">
      <% if (isLoggedIn) { %>
      <a href="/logout" class="nav-link"><%= t('common:navLogout') %></a>
      <% } else { %>
      <a
        href="#"
        class="nav-link"
        data-bs-toggle="modal"
        data-bs-target="#loginModal"
        ><%= t('common:navLogin') %></a
      >
      <% } %>

      <!-- Kielivalintanapit -->
      <a
        href="?lng=fi"
        class="language-switch <%= language === 'fi' ? 'active' : '' %>"
        >FI</a
      >
      <a
        href="?lng=en"
        class="language-switch <%= language === 'en' ? 'active' : '' %>"
        >EN</a
      >

      <div id="blur-overlay"></div>
      <div id="blur-overlay"></div>
      <div
        class="d-flex justify-content-between header-spacing"
        style="margin: 100"
      ></div>
    </div>
  </div>
</div>
<!-- Päiväyksen muodostaminen -->
<script>
  // Suomi ja englanti päivät ja kuukaudet
  const days = {
    fi: [
      "Sunnuntai",
      "Maanantai",
      "Tiistai",
      "Keskiviikko",
      "Torstai",
      "Perjantai",
      "Lauantai",
    ],
    en: [
      "Sunday",
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday",
      "Saturday",
    ],
  };
  const months = {
    fi: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"],
    en: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"],
  };

  // Valitse kieli
  const lang = "<%= language %>" || "fi";

  const now = new Date();
  const dayName = days[lang][now.getDay()];
  const date = now.getDate();
  const month = now.getMonth() + 1;
  const year = now.getFullYear();

  // Muotoile päivämäärä
  const formatted = `${dayName} ${date}.${month}.${year}`;
  document.getElementById("current-date").textContent = formatted;
</script>
