<!DOCTYPE html>
<html>
  <head>
    <%- include('./head'); %>
  </head>

  <body>
    <header><%- include('./header'); %></header>
    <main>
      <div><%- include('./tabs'); %></div>
      <div class="container">
        <!-- Hero section -->
        <div
          class="row bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white align-items-center"
          style="background-image: url('../images/valopuu.png'); height: 50vh"
        >
          <h1 class="mb-3 h3 animated-text">
            <%= t('heroTitle') %> <br /><br />
            <%= t('heroSubtitle') %>
          </h1>
        </div>
        <div style="margin-top: 50px"></div>
        <!-- Info section -->
        <div class="row fade-in">
          <div class="col-md-10 offset-md-1 text-center">
            <h class="mb-4"><%= t('introTitle') %></h
            <p><%- t('introBody') %></p>

            <h4 class="mt-4"><%= t('studentsTitle') %></h4>
            <p><%- t('studentsBody1') %></p>
            <p><%- t('studentsBody2') %></p>

            <h4 class="mt-4"><%= t('orgsTitle') %></h4>
            <p><%- t('orgsBody') %></p>
          </div>
        </div>
        <!-- End of Info section -->
      </div>
    </main>
    <!-- space before footer -->
    <div style="margin-top: 150px"></div>
    <footer><%- include('./footer'); %></footer>
  </body>
</html>

