<!DOCTYPE html>
<html>

<head>
    <%- include('./head'); %>
</head>

<body>
    <header>
        <%- include('./header'); %>
    </header>
    <main>
        <div>
            <%- include('./tabs'); %>
        </div>

        <div class="container">
            <!-- Login "jumbotron" -->
            <div class="row justify-content-center">
              <div class="col-md-8 text-white p-5 rounded shadow">
                <p class="h4 text-center mb-4"><%= t('common:loginHeader') %></p>
      
                <form id="login-form" data-error="<%= t('loginError') %>" class="row g-3 justify-content-center">

                  <div class="col-md-5">
                    <label for="username" class="form-label"><%= t('common:usernameLabel') %></label>
                    <input type="text" id="username" name="username" class="form-control" autocomplete="off" required>
                  </div>
                  <div class="col-md-5">
                    <label for="password" class="form-label"><%= t('common:passwordLabel') %></label>
                    <input type="password" id="password" name="password" class="form-control" required>
                    <div class = "form-check mt-2 text-start">
                        <input class = "form-check-input" type="checkbox" id = "show-password" onclick = "togglePassword()">
                        <label class="form-check-label" for="show-password"><%= t('common:showPassword') %></label>
                    </div>
                  </div>

                  <div class="col-md-10">
                    <div id="response-message" class="alert alert-danger text-center p-2" style="display: none; max-width: 60%; margin: 0 auto"></div>
                  </div>

                  <div class="col-12 text-center">
                    <button type="submit" class="btn btn-success mt-3"><%= t('common:loginButton') %></button>
                  </div>
                </form>
      
                <script>

                    document.getElementById('login-form').addEventListener('submit', function (event) {
                        // Prevent the default form submission.
                        event.preventDefault();

                        const username = document.getElementById('username').value;
                        const password = document.getElementById('password').value;

                        fetch('/login', {
                            method: 'POST',
                            headers: {
                                'Content-type': 'application/json'
                            },
                            body: JSON.stringify({ username: username, password: password }) // Form data.
                        })
                            .then(response => {
                                return response.json();
                            })
                            .then(data => {
                                // Check the data sent by the server.
                                if (data.success) {
                                    // Successful login redirects the user to the Dashboard.
                                    window.location.href = "/dashboard";  
                                }
                                else {
                                    // Login fail.
                                    const messageE1 = document.getElementById('response-message');
                                    const errorMessage = document.getElementById('login-form').dataset.error;
                                    messageE1.textContent = errorMessage;
                                    messageE1.style.display = 'block';
                                }
                            })
                            .catch(err => {  
                                console.error('Error:', err);  
                            });
                    });

                    function togglePassword()
                    {
                        const pw = document.getElementById('password');
                        pw.type = pw.type == 'password' ? 'text' : 'password';
                    }
                </script>
            </div>
            <!-- Jumbotron -->
            <div class="row">
            </div>
        </div>
    </main>
    <footer>
        <%- include('./footer'); %>
    </footer>
</body>

</html>