<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./head'); %>
  </head>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const elements = document.querySelectorAll(".scroll-fade-in");

      function checkScrollPosition() {
        const triggerBottom = window.innerHeight * 0.85;

        elements.forEach((el) => {
          const top = el.getBoundingClientRect().top;

          if (top < triggerBottom) {
            el.classList.add("visible");
          }
        });
      }

      window.addEventListener("scroll", checkScrollPosition);
      window.addEventListener("load", checkScrollPosition);
    });
  </script>

  <body class="text-white">
    <header><%- include('./header'); %></header>

    <main class="container d-flex flex-column align-items-center text-center">
      <div><%- include('./tabs'); %></div>

      <section
        class="scroll-fade-in bg-secondary bg-gradient p-5 rounded shadow mb-5 first-partner-section"
      >
        <div class="container-fluid px-3 px-sm-4 px-md-5">
          <h2 class="mb-4"><%= t('partners:developTitle') %></h2>
          <p><%- t('partners:developBody1') %></p>
          <p><%- t('partners:developBody2') %></p>
        </div>
      </section>

      <section class="mb-5 scroll-fade-in">
        <h3 class="mb-3"><%= t('partners:proposeTitle') %></h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-transparent text-white border-0">
            <%= t('partners:proposeBody1') %>
          </li>
          <li class="list-group-item bg-transparent text-white border-0">
            <%= t('partners:proposeBody2') %>
          </li>
          <li class="list-group-item bg-transparent text-white border-0">
            <%= t('partners:proposeBody3') %>
          </li>

          <li class="list-group-item bg-transparent text-white">
            <%= t('partners:proposeBody4') %>
          </li>
        </ul>
      </section>

      <section class="mb-5 scroll-fade-in">
        <h3 class="mb-3"><%= t('partners:workflowTitle') %></h3>
        <div class="row g-4 justify-content-center text-start">
          <div class="col-md-6 col-lg-5">
            <div class="card h-100 text-white bg-secondary">
              <div class="card-body text-center">
                <h5 class="card-title"><%= t('partners:workflowStep1') %></h5>
                <p></p>
                <li class="list-group-item bg-secondary text-white">
                  <%= t('partners:workflowStep1Body1') %>
                </li>
                <li class="list-group-item bg-secondary text-white">
                  <%= t('partners:workflowStep1Body2') %>
                </li>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-5">
            <div class="card h-100 text-white bg-secondary">
              <div class="card-body text-center">
                <h5 class="card-title"><%= t('partners:workflowStep2') %></h5>
                <p><%- t('partners:workflowStep2Body')%></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-5">
            <div class="card h-100 text-white bg-secondary">
              <div class="card-body text-center">
                <h5 class="card-title"><%= t('partners:workflowStep3') %></h5>
                <p><%= t('partners:workflowStep3Body') %></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-5">
            <div class="card h-100 text-white bg-secondary">
              <div class="card-body text-center">
                <h5 class="card-title"><%= t('partners:workflowStep4') %></h5>
                <p></p>
                <p><%= t('partners:workflowStep4Body') %></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-5">
            <div class="card h-100 text-white bg-secondary">
              <div class="card-body text-center">
                <h5 class="card-title"><%= t('partners:workflowStep5') %></h5>
                <p></p>
                <p><%= t('partners:workflowStep5Body') %></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="mb-5 scroll-fade-in">
        <h3 class="mb-3"><%= t('partners:durationTitle') %></h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-transparent text-white border-0">
            <%= t('partners:durationBody1') %>
          </li>
          <li class="list-group-item bg-transparent text-white border-0">
            <%= t('partners:durationBody2') %>
          </li>
          <li class="list-group-item bg-transparent text-white border-0">
            <%= t('partners:durationBody3') %>
          </li>
          <li class="list-group-item bg-transparent text-white">
            <%= t('partners:durationBody4') %>
          </li>
        </ul>
      </section>

      <section class="mb-5 scroll-fade-in">
        <h3 class="mb-3"><%= t('partners:clientTitle') %></h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-transparent text-white border-0">
            <%= t('partners:clientBody1') %>
          </li>
          <li class="list-group-item bg-transparent text-white border-0">
            <%= t('partners:clientBody2') %>
          </li>
          <li class="list-group-item bg-transparent text-white">
            <%= t('partners:clientBody3') %>
          </li>
        </ul>
      </section>
    </main>
    <div style="margin-top: 150px"></div>

    <footer><%- include('./footer'); %></footer>
  </body>
</html>
