<nav class="navbar navbar-expand-md navbar-dark bg-custom">
  <div class="container-fluid">

    <!-- Hampurilaisvalikon nappi omalla ikonilla -->
    <button
      class="navbar-toggler text-white border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars fa-lg"></i>
    </button>

    <!-- Navigointilinkit -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul
        class="navbar-nav mx-auto mb-2 mb-md-0 lead justify-content-md-center"
      >
<a class="nav-link" href="/"><i class="fa fa-home"></i></a>
 <li class="nav-item">
  <a class="nav-link" href="/gettingstarted"><%= t('common:navGettingStarted') %></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/partners"><%= t('common:navOrganizations') %></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/artifacts"><%= t('common:navArtifacts') %></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/apis"><%= t('common:navApis') %></a>
</li>

        <% if (isLoggedIn) { %>
          <li class="nav-item">
            <a href="/dashboard" class="nav-link"><%= t('common:navDashboard') %></a>
          </li>
          <% } %>
        </li>
      </ul>
    </div>
  </div>
</nav>
